<section class="margin-top-15">
    <div class="modal-header">
        <h4 class="modal-title" ng-bind="title"></h4>
        <p class="text-muted small" ng-bind="description" />
        <div class="row">
            <div class="col-xs-6">
                <select id="publicStreamTypes" ng-options="type as (type.label) for type in StreamTypes track by type.value"
                        ng-selected="StreamTypes.selected"
                        class="form-control selectpicker with-search" title="Select a stream type in the list or search..." selectpicker
                        ng-model="StreamTypes.selected" ng-change="getAvailableStreams(StreamTypes.selected, false)">
                </select>
            </div>
        </div>
        <div class="margin-top-10 row">
            <div class="col-xs-12">
                <ui-select multiple ng-model="dashboard.availableStreams" theme="bootstrap" sortable="true" close-on-select="true" class="dzup-uiselect-multi col-xs-12">
                    <ui-select-match placeholder="Select streams.">{{$item.label}}</ui-select-match>
                    <ui-select-choices repeat="stream in AvailableStreams | propsFilter: {value: $select.search, label: $select.search}">
                        <div ng-bind-html="stream.label | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="close()">Close</button>
    </div>
</section>