{{widget.title}}

<span class="pull-left"><nvd3 options="pieChartTypeHour" data="hourlyCountReportDataByHour"></nvd3></span>
<span class="pull-left"><nvd3 options="pieChartTypeDay" data="hourlyCountReportDataByDay"></nvd3></span>
<span class="pull-left"><nvd3 options="pieChartTypeMonth" data="hourlyCountReportDataByMonth"></nvd3></span>
<span class="pull-left"><nvd3 options="pieChartTypeYear" data="hourlyCountReportDataByYear"></nvd3></span>
<span class="pull-left"><nvd3 options="lineChartTypeHour" data="hourlyCountReportDataByHourLineChart"></nvd3></span>
<span class="pull-left"><nvd3 options="discreteBarChartHour" data="hourlyCountReportDataByHourDiscreteBarChart"></nvd3></span>